<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Document</title>
    <link rel="stylesheet" href="../styles/css/style.css" />
  </head>
  <body>
    <header class="header">
      <h2 class="header__title">Gmail</h2>
      <input class="header__search" type="Search mail" />
      <img
        class="header__avatar"
        loading="lazy"
        src="https://avatars0.githubusercontent.com/u/15942876"
        alt="avatar"
      />
    </header>
    <section>
      <nav class="nav">
        <div class="nav__btn">
          <div class="nav__btn__compose">Compose</div>
        </div>
        <div class="nav__div">
          <div class="nav__div__items select-item">
            <a href="" class="nav__div__items__item">Inbox</a>
          </div>
          <div class="nav__div__items">
            <a href="" class="nav__div__items__item">Sent Items</a>
          </div>
          <div class="nav__div__items">
            <a href="" class="nav__div__items__item">Drafts</a>
          </div>
          <div class="nav__div__items">
            <a href="" class="nav__div__items__item">Snoozed</a>
          </div>
          <div class="nav__div__items">
            <a href="" class="nav__div__items__item">Stared</a>
          </div>
        </div>
      </nav>
      <article>
        <main>
          <table id="inbox" class="mails"></table>
          <div id="email-desc" class="hide-element">
            <h2>mails</h2>
          </div>
        </main>
      </article>
    </section>
    <script src="../scripts/index.js"></script>
  </body>
</html>
